<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Manipal Capstone Project XYZ Bank Automation">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>


	<test name="Maniap Capstone Project Running on Chrome">

		<classes>
			<class name="com.mcp.qa.testcases.HomeAndNavigationTest"></class>
			<class name="com.mcp.qa.testcases.AddCustomersTest"></class>
			<class name="com.mcp.qa.testcases.OpenAccountTest"></class>
			<class name="com.mcp.qa.testcases.CustomersTest"></class>
			<class name="com.mcp.qa.testcases.ExistingCustomerTest"></class>
			<class name="com.mcp.qa.testcases.CustomerLoginAndDetailsTest"></class>
			<class name="com.mcp.qa.testcases.DepositAndWithdrawalTest"></class>
			<class name="com.mcp.qa.testcases.TransactionDetailsTest"></class>
			
		</classes>
	</test>
</suite>

